annotated-types==0.7.0
certifi==2024.2.2
charset-normalizer==3.3.2
fonttools==4.53.0
idna==3.7
Jinja2==3.1.4
jiwer==3.0.4
latex==0.7.0
matplotlib==3.9.0
numpy==1.26.4
openai==1.30.4
openpyxl==3.1.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
psutil==5.9.8
pydantic==2.7.2
pydantic_core==2.18.3
pytz==2024.1
requests==2.32.3
seaborn==0.13.2
tqdm==4.66.4
typed-argument-parser==1.10.0
typing_extensions==4.12.0
